* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-color: #535252;
  --link-color: #535252;
  --tab-color-light: #73baff;
  --tab-color-dark: #1e90ff;
}
html {
  font-size: 100%;
}
body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--font-color);
  background-color: #fff;
}

/*=============================================*/
/*HEADER AND CONTAINER SET UP*/
/*=============================================*/
.container {
  max-width: 800px;
}
.btn-social {
  background-color: var(--tab-color-dark);
  color: #fff;
  padding: 0.625rem 2rem;
  position: relative;
  z-index: 1;
}
.btn-social:hover {
  color: #fff;
}
.btn-social::after {
  content: "";
  width: 0;
  background-color: #000;
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  transition: width 0.3s cubic-bezier(0.27, 0.7, 0.71, 0.62);
  z-index: -1;
}
.btn-social:hover::after {
  border: 1px solid transparent;
  width: calc(100% + 2px);
  border-radius: 0.25em;
}
header {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 50vh;
  position: relative;
}
.site-heading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.site-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.8125rem;
  margin: 0;
  letter-spacing: 0.1rem;
  color: #fff;
}
a:link,
a:visited {
  color: var(--font-color);
}
a:hover,
a:active {
  color: var(--font-color);
  text-decoration: none;
}

/*=============================================*/
/*SOCIAL CONTAINER SET UP*/
/*=============================================*/

.social-container {
  border: 1px solid #e0dcdc;
  padding: 1.25rem;
  box-shadow: 0 0 3.125rem 0.625rem #e7e5e5;
  margin-top: 1.25rem;
}
.social-container__item {
  flex: 1;
  text-align: center;
}
.social__link {
  font-size: 1.0625rem;
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
  transition: all 0.3s ease-out;
  color: #fff;
  background: var(--tab-color-light);
}

/*=============================================*/
/*Tabs*/
/*=============================================*/
.social-container .nav-tabs {
  border-color: transparent;
}
.social__link--heading {
  display: block;
  padding: 0.625rem;
}
.social__link--heading:link,
.social__link--heading:visited {
  color: #fff;
  background: var(--tab-color-light);
}
.social__link--heading:active,
.social__link--heading:hover {
  color: #fff;
  background: var(--tab-color-dark);
}
.social__link--heading.active {
  background: var(--tab-color-dark);
}

/*=============================================*/
/*TAB CONTENT*/
/*=============================================*/
.social-tab__container form,
.social-tab__container .social-links {
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.social-links__link {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  transform: scale(0.98);
  backface-visibility: hidden;
  margin-top: 1rem;
}
.social-links__link:hover {
  transform: scale(1);
}
.social-links__link img {
  height: 2.1875rem;
  width: auto;
}
br {
  color: #c2c0c0;
}
/*f8b500*/

@media (max-width: 480px) {
  .social-tab__container {
    flex-direction: column;
  }
}
